<% layout("/layouts/boilerplate.ejs") %>

    <!-- <body>
    <h2>Listings :</h2>
    
    <ul>
        <% for(let list of listing){ %>
            <li><a href="http://localhost:8080/listings/<%= list._id %>">
                    <%= list.title %>
                </a>
            </li>
            <% } %>
    </ul>
</body> -->

    <body>
        <div class="container my-4">
            <h2 class="mb-4">All Listings</h2>

            <div class="row g-4
            row-cols-1
            row-cols-sm-2
            row-cols-md-3
            row-cols-lg-4">

                <% for (let list of listing) { %>
                    <div class="col">
                        <a href="/listings/<%= list._id %>" class="text-decoration-none">
                            <div class="card listing-card h-100">
                                <img src="<%= list.image.url %>" class="card-img-top" alt="listing image" />

                                <div class="card-body">
                                    <h5 class="card-title text-dark">
                                        <%= list.title %>
                                    </h5>
                                    <p class="card-text text-muted">
                                        ₹ <%= list.price.toLocaleString("en-In") %> / night
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% } %>

            </div>
        </div>
    </body>