<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <% layout("/layouts/boilerplate.ejs") %>

            <div class="container my-3">
                <div class="row justify-content-center">

                    <!-- SHOW PAGE = medium width -->
                    <div class="col-12 col-md-10 col-lg-8">

                        <h2 class="mb-3 ms-2">Listing Details</h2>

                        <div class="card border-0 shadow-sm">

                            <!-- Image -->
                            <img src="<%= listing.image.url %>" class="card-img-top"
                                style="height:500px; object-fit:cover;" alt="listing image">

                            <div class="card-body">

                                <!-- Title -->
                                <h4 class="card-title mb-2">
                                    <%= listing.title %>
                                </h4>

                                <!-- Description -->
                                <p class="card-text text-muted">
                                    <%= listing.description %>
                                </p>

                                <!-- Price -->
                                <p class="fw-semibold mb-1">
                                    ₹ <%= listing.price.toLocaleString("en-IN") %>
                                </p>

                                <!-- Location -->
                                <p class="mb-3">
                                    <%= listing.location %>, <%= listing.country %>
                                </p>

                                <!-- ACTION BUTTONS -->
                                <div class="d-flex gap-2">

                                    <a href="/listings/<%= listing._id %>/edit" class="btn btn-danger">
                                        Edit
                                    </a>

                                    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                                        <button class="btn btn-dark">
                                            Delete
                                        </button>
                                    </form>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

    </body>